body{
    margin: 0;
    padding: 0;
}

.container {
    /* background-color: #c2cee7; Z*/
    background-image: url(../img/moroccan-flower.png);
/*    background-repeat: repeat-x;*/
/*    background-position: center center;*/
/*    background-image:linear-gradient(red,blue);*/
    
/*
    background-image: url(../img/esb.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
*/
}

img {
/*    width: 100%;*/
    width:100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding-right: 10%;
}
li:hover {
/*    background-color: yellow;*/
}

a:link {
    color: crimson;
}
a:visited {
    color: black;
}
a:hover {
    color: ghostwhite;
}

nav {
    background-color: #7f8aca;
    width: 100vw;
    position: fixed;
    border: 10px #585d7a solid;
    box-sizing: border-box;
}
.black {
/*    border: 5px black dashed;*/
}

#about {
/*    border: 1px red solid;*/
}

.left {
    width: 40%;
    display: inline-block;
}
.right {
    width: 40%;
    display: inline-block;
}



@media all and (min-width:320px) and (max-width: 780px) {
    .container{
        background-color: plum;
    }
}

@media all and (min-width:781px) and (max-width: 1080px) {
.container{
        background-color: darksalmon;
    }
}